@font-face {
  font-family: NexoFontLight;
  src: url("fonts/nexofontlight-webfont.woff2");
}
@font-face {
  font-family: NexoFontBold;
  src: url("fonts/nexofontbold-webfont.woff2");
}
@font-face {
  font-family: NexoFontNormal;
  src: url("fonts/nexofontnormal-webfont.woff2");
}
